/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #030303;
  font-size: 16px;
  line-height: 1.4;

}
body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
}
nav{
  background-color: lightcoral;
  padding: 5px;

}
section{
  background-color: lightseagreen;
  padding: 5px;

}
aside{
  background-color: lightgoldenrodyellow;
  padding: 5px;
}
div{
  display: flex;
  flex: 1;

}
header{
  display: flex;
  justify-content: center;
  background-color: lightgrey;
  padding: 5px;
}
footer{
  display: flex;
  justify-content: center;
  background-color: lightgrey;
  padding: 5px;
}
p::selection{
  color: goldenrod;
}
@media screen and (max-width: 800px) {
body{
  min-height: 100vh;
  display: flex;
  flex-shrink: 1;
}
div{
flex-direction: column;
}
section{
  order: 1;
  flex: 1;
}
aside{
  order: 2;
}
nav{
  order: 3;
}

}
